fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
confluent-kafka
grpcio
grpcio-tools
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
structlog
httpx
python-dotenv
pytest
pytest-asyncio
httpx
alembic
email-validator
bcrypt==4.0.1


eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0QGhlcm1lcy5kZXYiLCJleHAiOjE3NzkxNzM1MDF9.Dvyb1d-x3bFHThZGeJmCHDmu-f1mtN6-tRRiTlCLcfk