fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
confluent-kafka
grpcio
grpcio-tools
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
structlog
httpx
python-dotenv
pytest
pytest-asyncio
httpx
alembic
email-validator
bcrypt==4.0.1
